---
layout: default
---

<section class="padding-h-m padding-v-l padding-a-l_xs padding-a-xl_l">
	<div class="block">
		<div class="block">
			<h1 class="padding-b-m h0">
				<a class="c-theme h3 padding-b-s block" href="{{ site.url }}" target="blank">{{ site.title }}</a>

				Designer <span class="c-theme">&amp;</span> Developer
			</h1>
			<h3 class="font-w-3 block s1 s34_m s23_xl">Eric Bailey is a lover of simplicity and a maker of quality things. He enjoys being a teammate, learning, and seasonal beer offerings. Always from Iowa, currently from NYC.</h3>
		</div>
	</div>
	<div class="grid has-gutter--m padding-t-m">
		<div class="row">
			<div class="col s1 s12_m s25_l margin-t-m">
				<h3 class="padding-b-s"><a class="c-theme" href="http://startupstockphotos.com" title="Startup Stock Photos">Startup Stock Photos</a></h3>
				<p>Free stock photos for your next project.</p>
			</div>
			<div class="col s1 s12_m s25_l margin-t-m">
				<h3 class="padding-b-s"><a class="c-theme" href="http://startupstockphotos.com" title="Startup Stock Photos">SVBSTRATE</a></h3>
				<p>A low-level CSS framework for building scalable websites.</p>
			</div>
			<div class="col s1 s12_m s25_l clear-l_m margin-t-m">
				<h3 class="padding-b-s"><a class="c-theme" href="http://startupstockphotos.com" title="Startup Stock Photos">markd</a></h3>
				<p>A tiny markdown editor in your browser.</p>
			</div>
		</div>
	</div>
</section>
<section class="block bg-c-g1 padding-h-m padding-v-l padding-a-l_xs padding-a-xl_l">
	<h3 class="c-g2 padding-b-m padding-b-l_m"><a href="/writings" class="c-g2">WRITINGS</a></h3>
	{% for post in site.posts limit: 3 %}
		{% include blog/post.html %}
	{% endfor %}
</section>