<footer class="footer bg-c-4 padding-v-m padding-h-m padding-h-l_m padding-a-xl_l padding-v-m_l">
	<h4 class="c-w font-w-0">
		<a class="footer__link margin-r-m margin-v-s" href="http://twitter.com/estrattonbailey" target="_blank">Twitter</a>
		<a class="footer__link margin-r-m margin-v-s" href="http://twitter.com/estrattonbailey" target="_blank">Facebook</a>
		<a class="footer__link margin-r-m margin-v-s" href="http://twitter.com/estrattonbailey" target="_blank">Instagram</a>
		<a class="footer__link margin-r-m margin-v-s" href="http://twitter.com/estrattonbailey" target="_blank">Github</a>
		<a class="footer__link margin-r-m margin-v-s" href="http://twitter.com/estrattonbailey" target="_blank">Dribbble</a>
		<a class="footer__link margin-r-m margin-v-s" href="http://twitter.com/estrattonbailey" target="_blank">Soundcloud</a>
	</h4>
</footer>