{% if paginator.total_pages > 1 %}
<div class="h4 bg-c-g1 block row">
  {% if paginator.previous_page %}
   {% if paginator.previous_page == 1 %}
      <a href="{{site.url}}/writings" class="c-g3 col s25 padding-v-s align-c"><i class="icon-arrow-left"></i></a>
    {% else %}
      <a href="{{ paginator.previous_page_path }}" class="c-g3 col s25 padding-v-s align-c"><i class="icon-arrow-left"></i></a>
    {% endif %}
  {% else %}
    <div class="c-g2 col s25 padding-v-s align-c">&nbsp;</div>
  {% endif %}

  <div class="c-g3 col s15 padding-v-s align-c">{{ paginator.page }} / {{ paginator.total_pages }}</div>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="c-g3 col s25 padding-v-s align-c"><i class="icon-arrow-right"></i></a>
  {% else %}
    <div class="c-g2 col s25 padding-v-s align-c">&nbsp;</div>
  {% endif %}
</div>
{% endif %}