.rte {
    h1, h2, h3, h4, h5, h6, p {
        max-width: 700px;
    }
    h2, h3, h4, h5, h6 {
        @extend .margin-b-m, .margin-t-l;
    }
    .h0 {
        max-width: 100%;
    }
    p {
        @extend .margin-v-m;

        /* Lede */
        &:first-of-type {
            @extend .h2, .type-serif, .font-w-0;

            max-width: 840px;
        }
    }

    /* Links */
    a {
        color: $c-1;
    }

    /* Pull Quotes */
    blockquote {
        @extend .margin-v-m, .margin-h-n, .padding-l-s, .padding-l-m_m;

        border-left: 4px solid $c-1;

        * {
            @extend .h2;
        }
    }

    /* Lists */
    ul, ol {
        @extend .margin-b-m, .padding-l-m;
    }
    li {
        @extend .p;
    }

    /* Code */
    pre {
        @extend .padding-v-m, .padding-l-m, .margin-v-m;
        @extend .p, .type-monospace;

        border-left: 4px solid $c-1;
        background-color: $c-g1;
        overflow: auto;
        overflow-y: hidden;
    }
    code {
        @extend .type-monospace;
    }

    /* Images */
    p {
        img {
            @extend .block-relative; 
            @extend .padding-v-m;

            max-width: 100%;
            height: auto !important;
            width: 100%;
        }
    }

    figure {
        img {
            @extend .block-relative; 

            max-width: 100%;
            height: auto !important;
            width: 100%;
        }
        figcaption {
            
        }
    }

    /* Horizontal Rule */
    hr {
        @extend .block-relative; 
        @extend .margin-v-l, .margin-l-n;

        background-color: $c-g1;
        border: 0;
        height: 2px;
        width: 100px;
    }
}