.theme-1 {
	.c-theme {
		color: $c-1;
	}
	.bg-c-theme {
		background-color: $c-1;
	}
}
.theme-2 {
	.c-theme {
		color: $c-2;
	}
	.bg-c-theme {
		background-color: $c-2;
	}
}
.theme-3 {
	.c-theme {
		color: $c-3;
	}
	.bg-c-theme {
		background-color: $c-3;
	}
}
.theme-4 {
	.c-theme {
		color: $c-4;
	}
	.bg-c-theme {
		background-color: $c-4;
	}
}