{% include _header.html %}
	<main class="block padding-a-m padding-a-l_m padding-a-xl_l">
		<h3 class="c-g3 padding-b-xl">
			<a href="{{ site.url }}" class="c-theme" title="{{site.title}}">{{site.title}}</a>
			<span class="c-g2"> / </span>
			<a href="{{ site.url }}/writings" class="c-g3">WRITINGS</a>
			<span class="c-g2"> / </span>
			NAMES
		</h3>
		<article class="post rte">
			<span class="p c-g2 padding-b-m block">{{ page.date | date: '%B %d, %Y' }}</span>
			<h1 class="h0 margin-b-l block-relative">{{ page.title }}</h1>
			{{ content }}
		</article>
	</main>
{% include _footer.html %}